/* 1st part */

.container-1 {

    background-color: #161616;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    border-radius: 20px;

}

.blog {
    color: #FFFFFFFF;
    width: 400px;
    height: 424px;
    padding-top: 10%;
    padding-left: 5%;

}

h1 {
    font-size: 50px;
    font-weight: 700;
}

.button-1 {
    background-color: red;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}



.button-info {

    text-decoration: none;
    color: white;

}

.player-1 {
    height: 613px;
    width: 581px;
    margin-left: 100px;
    margin-top: 50px;

}

.player-1 img {
    width: 100%;
    height: 100%;
}

/* container-2 */
.side-bar {
    width: 312px;
    height: 312px;
    display: grid;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: #161616;


}

.side-bar-1 {
    width: 200px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.side-bar-2 {
    width: 200px;
    height: 50px;
    background-color: red;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.button-info-2 {

    text-decoration: none;
    color: black;

}

/* container-2 2nd part */
.container-2 {
    display: flex;
}

.match-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 20px;
}

.matches {
    width: 312px;
    height: 362px;
    border: 1px solid silver;
    border-radius: 10px;
    padding-bottom: 35px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.match-detailes,
.match-video-info {
    padding-left: 20px;
}

.transfer-style {
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.match-video-info {
    display: flex;
    column-gap: 20px;

}

.view-button {
    border: 1px solid silver;

    background-color: red;
    width: 150px;
    margin-left: 45vw;
    border-radius: 10px;



}

.view-button-1 {
    color: white;
    text-decoration: none;
    align-items: center;
    padding-left: 30%;

}

/* footer part */
.footer-part {
    background-color: #161616;
    color: white;
    margin-top: 40px;
    border-radius: 20px;
}

.goal {
    display: flex;
    justify-content: center;
}

.information {
    display: flex;
    justify-content: center;
    color: white;
}

.information a {
    font-weight: 200;
}

.information-1 {
    color: white;
    text-decoration: none;
    padding-left: 20px;


}

.social-icon {
    display: flex;
    justify-content: center;

    background-color: white;

}

.icon {
    margin: 20px;
    border: 1px solid silver;
    height: 50px;
    width: 80px;

}

.icon a .icon-1 {
    padding-left: 30px;
    padding-top: 10px;
    font-size: 30px;


}

.container-1:hover {
    background: #53a7ea;
    transition: all 0.2s ease;
    box-shadow: inset 0 0 0 25px #0c77ce;

}

.container-1 .blog:hover {
    color: #161616;
}


/* media quary I-phone_12 pro */
@media screen and (max-width:688px) {
    .container-1 {
        display: flex;
        flex-direction: column;
    }

    .blog {
        width: 100%;
    }

    .container-1 .player-1 {
        width: 100%;
        margin-left: 0;
        margin-top: 0
    }

    .container-1 .player-1 img {
        width: 100%;
        padding-right: 10%;
    }

    .container-2 {
        display: grid;
        grid-template-columns: repeat(1, 1f)
    }

    .side-bar {
        margin-bottom: 10%;

    }

    .match-box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .matches {
        justify-content: center;
    }

    .view-button {

        display: none;
    }

    .information {
        display: grid;
        grid-template-columns: repeat(1, 1fr);



    }

    .information-1 {
        margin-left: 25%;
        padding-bottom: 10px;
    }
}

/* media quary ipad */

@media only screen and (min-width:689px) and (max-width:992px) {
    .container-2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .side-bar {
        background-color: white;
        display: flex;
        width: 100vw;
    }

    .side-bar-1,
    .side-bar-2 {
        border: 1PX solid silver;
    }

    .match-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 5vw;
    }

}


/* desktop  part */
@media screen and (min-width:993px) and (max-width:1400px) {
    .view-button {

        display: none;
    }

    .side-bar {
        position: sticky;
        top: 0;
    }
}